---
layout: default
---
      <div class="twelve columns" style="padding-top:30px">
        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
        <div class="entry-content">
          <p>{{ page.content }}</p>
        </div>

        <h5 class="subheader">
          <span class="byline author vcard">Posted by <span class="fn">{{ page.author }}</span></span>
          <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%B %d, %Y" }}</time>
        </h5>
      </div>
